
body {
    background: url("images/Greenwave.png") bottom fixed no-repeat;
    background-size: 100% 25%;
    position: relative;

}

#header {
    border-bottom: darkgreen 1px solid;
    height: 5%;
}

#sidebar {
    height: 95%;
    padding-top: 10px;
    top: 50px;
    width: 16%;
    background: rgba(60, 69, 77, .9);
}


.content {
    position: absolute;
    overflow-y: scroll; 
    left: 16%;
    padding: 0;
    margin: 0;
    top: 50px;
    width: 85%;
    overflow: hidden;
    min-height: 60px;
}

